Related: auto, defend, free, guard, law, manage, own, policy, power, secure

VSCP.org >>This site is dedicated to the VSCP protocol, a very simple and free protocol for  SOHO and M2M automation tasks & friends. The protocol is so easy that everyone can grasp the idea behind it in a few minutes. Therefore it's also very easy to construct and use  VSCP aware modules and components. Nodes just start up and then serve the control solution reliable and stable for ever and ever and ever.....

EndOfControl.com >>How Technology is Shifting Control Over Media to the People Formerly Known as Consumers

Getcontrol.sf.net

OC-CO.org >>Bouillon project    Open control, controlled openness

$ smartctl # Control and Monitor Utility for SMART Disks

ReductiveLabs.com/cgi-bin/puppet.cgi/wiki >>Puppet lets you centrally manage every important aspect of your system using a cross-platform specification language that manages all the separate elements normally aggregated in different files, like users, cron jobs, and hosts, along with obviously discrete elements like packages, services, and files.
